<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    />
    <title>Home Page</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Welcome to the Dashboard</h1>

        <div id="login">
          <h2 class="subtitle">Login</h2>
          <form>

          </form>
        </div>

        <div id="dashboard" style="display:none;">

        </div>

        <div id="signup">
          <h2 class="subtitle">Sign Up</h2>
          <form>

          </form>
        </div>
      </div>
    </section>
  </body>
</html>