<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="username" id="user-name" />
    <input
      type="password"
      title="username"
      placeholder="password"
      id="password"
    />
    <button type="submit" class="btn" id="loginBtn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div>